USE [master]
GO
/****** Object:  Database [VotingSystem]    Script Date: 06/11/2024 11:57:55 pm ******/
CREATE DATABASE [VotingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VotingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VotingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VotingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VotingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VotingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VotingSystem]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 06/11/2024 11:57:56 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[VoteId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[CNIC] [nvarchar](15) NULL,
	[AssemblyType] [nvarchar](20) NULL,
	[SelectedParty] [nvarchar](20) NULL
) ON [PRIMARY]
GO
USE [master]
GO
