USE [master]
GO
/****** Object:  Database [AnnualDinnerFeedbackDB]    Script Date: 07/11/2024 12:51:46 pm ******/
CREATE DATABASE [AnnualDinnerFeedbackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnnualDinnerFeedbackDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AnnualDinnerFeedbackDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnnualDinnerFeedbackDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AnnualDinnerFeedbackDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnnualDinnerFeedbackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnnualDinnerFeedbackDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07/11/2024 12:51:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 07/11/2024 12:51:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](11) NULL,
	[Question1] [nvarchar](255) NULL,
	[Question2] [nvarchar](255) NULL,
	[Question3] [nvarchar](255) NULL,
	[Question4] [nvarchar](255) NULL,
	[Question5] [nvarchar](255) NULL,
	[Improvement] [nvarchar](50) NULL,
	[AdditionalItems] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 07/11/2024 12:51:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ContactNo] [nvarchar](11) NOT NULL,
	[Question1] [nvarchar](max) NOT NULL,
	[Question2] [nvarchar](max) NOT NULL,
	[Question3] [nvarchar](max) NOT NULL,
	[Question4] [nvarchar](max) NOT NULL,
	[Question5] [nvarchar](max) NOT NULL,
	[Question6] [nvarchar](max) NOT NULL,
	[Question7] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
