<h2>Step 3: Select Party</h2>
<form asp-action="Step3" method="post">
    <input type="radio" name="selectedParty" value="PTI" /> PTI<br />
    <input type="radio" name="selectedParty" value="PMLN" /> PMLN<br />
    <input type="radio" name="selectedParty" value="PPP" /> PPP<br />
    <button type="submit">Next</button>
</form>
