@{
    ViewData["Title"] = "Welcome";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>Welcome</h1>
    <p>Start your voting process</p>

    <!-- Start button -->
    <a href="/Voting/Step1" class="start-button">Start</a>
</div>
